// 1. Initial variables

//Colors
$header-background: #363636;

//    --blue: #007bff;
//    --indigo: #6610f2;
//    --purple: #6f42c1;
//    --pink: #e83e8c;
//    --red: #dc3545;
//    --orange: #fd7e14;
//    --yellow: #ffc107;
//    --green: #28a745;
//    --teal: #20c997;
//    --cyan: #17a2b8;
//    --white: #fff;
$gray: #868E96;
//    --gray-dark: #343a40;
//    --primary: #007bff;
//    --secondary: #868e96;
//    --success: #28a745;
//    --info: #17a2b8;
//    --warning: #ffc107;
//    --danger: #dc3545;
//    --light: #f8f9fa;
//    --dark: #343a40;

$white-smoke-color: #F6F6F6;
$selected-row: #E6F3FF;/*#D4FFD4 #00D1B2; $table-row-active-background-color*/
$white: #FFFFFF;


$light-gray: #808080;
$light-gray-1: #F8F8F8;
$light-gray-2: #EEEEEE;
$light-gray-3: #888888;
$light-gray-4: #E1E3E5;
$light-gray-5: #F2DEDE;
$light-gray-6: #EBCCD1;
$light-gray-7: #343A40;
$light-gray-8: #212529;
$light-gray-9: #DDDDDD;

$light-blue-1: #5BC0DE;
$light-blue-2: #007BFF;

$light-red: #F92672;
$light-red-1: #FF5700;
$light-red-2: #A94442;
$light-red-3: #333333;

$light-green: #008000;

$light-brown: #DEB887;